
# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    "llm_config": {
        "class": "openai",
        "model_name": "gpt-4.1-mini",
        "temperature": "0.5"
    },
    "max_iterations": 40000, #3000
    "max_execution_seconds": 7200, #600
    "tools": [
        {
            "name": "multiagent_decomposer",
            "function": {
                "description": """
Takes a problem and potentially solves it by breaking it up into multiple sub-problems.
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "problem": {
                            "type": "string",
                            "description": "Description of a problem."
                        },
                    },
                    "required": []
                }
            },

            "instructions": """
You receive a description of a single problem.
Take this problem and always use the decomposition_solver tool to solve it by potentially
breaking it up into smaller problems.  The return value from the decomposition_solver tool is
the final answer for the decomposition, always return verbatim whatever answer it returns.
""",

            "tools": ["decomposition_solver"],

            "allow": {
                "to_upstream": {
                    # Return the full decomposition trace node tree in sly_data
                    "sly_data": ["trace_node"]
                }
            }
        },
        {
            "name": "decomposition_solver",
            "function": {
                "description": """
Takes a problem and solves it by breaking it up into multiple sub-problems,
Will return a single string with the final answer extracted from the problem solver algorithm
that is carried out by this tool.
                """,
                # This tool also puts a full node-tree describing the decomposition trace on sly_data
                # via the "trace_node" key.
                "parameters": {
                    "type": "object",
                    "properties": {
                        "problem": {
                            "type": "string",
                            "description": "Description of a problem."
                        },
                        "max_depth": {
                            "type": "integer",
                            "description": "The maximum depth of solution decomposition."
                            "default": 5
                        },
                        "winning_vote_count": {
                            "type": "integer",
                            "description": "Number of votes required to win."
                            "default": 2
                        },
                        "candidate_count": {
                            "type": "integer",
                            "description": "Number of candidates to consider during the decomposition stage.",
                            "default": 3
                        },
                        "number_of_votes": {
                            "type": "integer",
                            "description": "Number of candidates for any round of voting."
                            "default": 3
                        },
                        "solution_candidate_count": {
                            "type": "integer",
                            "description": "Number of candidates to consider during the problem solving stage.",
                            "default": 3
                        },
                    },
                    "required": ["problem"]
                }
            }
            "class": "decomposition_solver.DecompositionSolver",

            # Use the "args" key to define key/value pairs that are passed into
            # the CodedTool above as arguments.  These are merged with other
            # parameter key/value pairs that the calling agent supplies.
            # 
            # If there were any collisions on keys, these args below would win.
            # 
            # If you would want the calling agent's preferences to take precedence
            # over something defined in a hocon file, use a default value in the
            # function definition (above).
            "args": { 

                # Tools which are used to manage the mechanics of the loop
                "tools": {
                    # Tool which is used to decompose a problem
                    "decomposer": "/decomposer",

                    # Tool which is used as the discriminator when voting on decompositions
                    "solution_discriminator": "/solution_discriminator",

                    # Tool which is used to suggest problem solutions
                    "problem_solver": "/problem_solver",

                    # Tool which is used as the discriminator when voting on problem solver solutions
                    "composition_discriminator": "/composition_discriminator",
                },
            }
        }
    ]
}
